**/node_modules/
**/.env
**/.pio/
.vercel/
frontend/dist/
**/firebase-service-account.json
backend/recipes_data.csv
frontend/package-lock.json
firebase-service-account.json
backend/firebase-service-account.json.bak
backend/firebase-service-account.json
frontend/js/utils/api.js
